<%- include("intranet/intranet_head") %>
    <h2 class="text-center">Administración Restaurante Siglo XXI</h2>
        <div style="text-align:center;padding:1em 0;">
            <iframe style="pointer-events: none;"
                src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FSantiago"
                width="100%" height="140" frameborder="0" seamless>
            </iframe>
        </div>
        <div class="text-center">
            <a href="/"><i class="fs-4 bi-globe"></i> <span class="ms-1 d-none d-sm-inline">Ir a la Web Restaurante</span></a>
        </div>
<%- include("intranet/intranet_foot") %>