<%- include("templates/header") %>   

 <!-- section-1 top-banner -->
 <section id="home">
    <div class="container-fluid px-0 top-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <h1>Restaurante Siglo XXI</h1>
                    <div class="mt-4">
                        <button class="main-btn">Reserva<i class="fas fa-calendar-alt ps-3"></i></button>
                        <!-- <button class="white-btn ms-lg-4 mt-lg-0 mt-4">Nuestro Menú<i
                                class="fas fa-angle-right ps-3"></i></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section-3 about-->
<section id="about">
    <div class="about-section wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                    <div class="card border-0">
                        <img src="images/bg/bg-pan.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 text-sec">
                    <h2>Bienvenidos a Restaurante Siglo XXI</h2>
                    <p>Donde podrá disfrutar de la mejor cocina tradicional chilena,
                        la calidad y hospitalidad aquí han sido nuestras características durante décadas. Con más de
                        50 años de experiencia,
                        nos hemos convertido en un clásico del criollo y en uno de los restaurantes más prestigiosos
                        del país.</p>
                    <!-- <button class="main-btn mt-4">Learn More</button> -->
                </div>
            </div>
        </div>
        <div class="container food-type">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mb-5">
                    <h2>Comida casera, con los mejores ingredientes de nuestra cocina criolla.</h2>
                    <p>
                        Si te gusta la comida con sabores intensos, con múltiples colores y deliciosos aliños y especias, debes probar los variados platos que ofrece nuestro restaurante</p>
                    <ul class="list-unstyled py-3">
                        <li>Productos Finamente Seleccionados.</li>
                        <li>100% Nacional.</li>
                        <li>Elaboración Casera.</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="card border-0">
                        <img src="images/img/gastronomia.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section-3 story-->
<section id="story">
    <div class="story-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-content">
                        <h2>Ven a probar nuestros platos.</h2>
                        <p>Inicia sesión para hacer tu reserva, si no estás registrado te invitamos a llenar el formulario de registro.</p>
                        <button class="main-btn mt-3">Reserva tu mesa aquí</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section-4 explore food-->
<section id="explore-food">
    <div class="explore-food wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-content text-center">
                        <h2>Nuestros mejores Platos de Comida Chilena</h2>
                        <p>En Restaurante Siglo XXI llevamos preparando lo mejor de la comida Chilena, porque nos
                            apasiona el servicio y entregar el mejor
                            sabor que nos otorga nuestra tierra. Los invitamos a conocer nuestros platos y ser parte
                            de nuestra identidad culinaria.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="card">
                        <img src="images/img/img-3.jpg" class="img-fluid">
                        <div class="pt-3">
                            <h4>Rainbow Vegetable Sandwich</h4>
                            <p>Time: 15 - 20 Minutes | Serves: 1</p>
                            <span>$10.50 <del>$11.70</del></span>
                            <button class="mt-4 main-btn">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="card">
                        <img src="images/img/img-4.jpg" class="img-fluid">
                        <div class="pt-3">
                            <h4>Vegetarian Burger</h4>
                            <p>Time: 30 - 45 Minutes | Serves: 1</p>
                            <span>$9.20<del>$10.50</del></span>
                            <button class="mt-4 main-btn">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="card">
                        <img src="images/img/img-5.jpg" class="img-fluid">
                        <div class="pt-3">
                            <h4>Raspberry Stuffed French Toast</h4>
                            <p>Time: 10 - 15 Minutes | Serves: 1</p>
                            <span>$12.50<del>$13.20</del></span>
                            <button class="mt-4 main-btn">Order Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("templates/footer") %>   